.recipe-form {
    padding: 1rem 0;
}

.recipe-ingredient:not(:first-of-type) {
    padding-top: 1rem;
}

.btn:not(:first-of-type) {
    margin-left: 0.5rem;
}

.submit-row {
    display: flex;

    .btn {
        flex: 1;
    }
}
.remove-ingredient {
    cursor: pointer;
    text-decoration: underline;
    color: red;
}