<form class="recipe-form" [formGroup]="recipeForm">
  <h3>New recipe</h3>
  <div class="form-group">
    <label for="name">Name</label>
    <input
      class="form-control"
      id="name"
      placeholder="Recipe name"
      formControlName="name"
    />
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea
      class="form-control"
      id="description"
      placeholder="Recipe description"
      formControlName="description"
    ></textarea>
  </div>
  <div class="form-group">
    <label for="imagePath">Image</label>
    <input
      class="form-control"
      id="imagePath"
      placeholder="Path to the image"
      formControlName="imagePath"
    />
  </div>
  <div class="form-group" formArrayName="ingredients">
    <label for=""
      >Ingredients
      <button class="btn btn-primary" (click)="addIngredient()">
        +
      </button></label
    >
    <div
      class="row recipe-ingredient"
      *ngFor="let ingControl of ingredients; let i = index"
      [formGroupName]="i"
    >
      <div class="col-8">
        <input
          type="text"
          class="form-control"
          formControlName="name"
          placeholder="Ingredient name"
        />
      </div>
      <div class="col-3">
        <input type="number" class="form-control" formControlName="amount" />
      </div>
      <div class="col-1" *ngIf="ingredients.length > 0">
        <a
          class="remove-ingredient"
          aria-label="Close"
          (click)="removeIngredientInput(i)"
          >X</a
        >
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 submit-row">
      <button class="btn btn-primary" (click)="save()">Save</button>
      <button class="btn btn-primary" (click)="save(true)">
        Save and leave
      </button>
      <button class="btn btn-default" routerLink="../">Cancel</button>
    </div>
  </div>
</form>
